:root {
    --nav-black: #212121;
    --accent: #2196F3;
    --footer-bcg: #2F303A;
    --page-color: #ffffff;
    --main-text-color: #212121;
    --paragraf-color: #ffffff;
    --adress-color: #757575;
    --down-section: #F5F4FA;
    --just-blck: #000000;
    --border-portgolio: #eee;
    --border-header: #ECECEC;
}