.down-section{
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px){
        padding-top: 94px;
        padding-bottom: 94px;
    }
}
.feature-list__ico{
    display: flex;
    align-items: center;
    justify-content: center;
   
    background: var(--down-section);
    border-radius: 4px;
    margin-bottom: 30px;
    width: 100%;
    //width: 270px;
    height: 120px;
}

.feature-list{
    @media screen and (min-width: 768px){
        display: flex;
        flex-wrap: wrap;
        margin-bottom: -30px;
        margin-right: -30px;
    }
   
   
}
.feature-list__item{
   
    margin-bottom: 30px;
    &:last-child{
        margin-bottom: 0;
    }
    @media screen and (min-width: 768px){
        width: calc(100% / 2 - 30px);
        margin-right: 30px;         
    }
    @media screen and (min-width: 1200px){
        width: calc(100% / 4 - 30px);
    }
}
  


.feature-list__title{
 
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    @media screen and (min-width: 768px){
        text-align: left;
    }
}
.feature-list__paragraf{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--adress-color);
}