.portfolio-section {
    color: var(--page-color);
    padding-top: 94px;
    padding-bottom: 94px;
}

.button-portfolio{
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: var(--down-section);
    color: var(--main-text-color);
    cursor: pointer;
    padding: 6px 22px;
    border: 1px solid transparent;
    border-radius: 4px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1)
    ;
    
    &:hover,
    &:focus
    {
        font-family: inherit;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--paragraf-color);
        background-color: var(--accent);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.portfolio-button{
    display: flex;
 
    margin-bottom: 34px;
    justify-content: center;
} 
.portfolio-button li{
    margin-right: 8px;
    &:last-child {
        margin-right: 0;
    }   
    }

.portfolio-item{
    display: flex;
    flex-wrap: wrap;
  
}

.portfolio-item-li{
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    
    border-right: 1px solid var(--border-portgolio);
    border-left: 1px solid var(--border-portgolio);
    border-bottom: 1px solid var(--border-portgolio);
}
.text-decoratio-none {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;

    &:hover,
    &:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
    & .text-top{
        transform: translateY(0%);
    }
}
}



.wrap-text-portfolio{
   position: relative; 
   overflow: hidden;
}
.wrap-text-portfolio img{
    display: block;
}
.text-top{
    position: absolute;
    top: 0;
    padding: 63px 24px ;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    background-color: rgba(33, 150, 243, 0.9);
    height: 100%;
    color: #ffffff;
    transform: translateY(101%);
    transition: transform 300ms;
}
.portfolio-item-text{
   
    padding: 20px 24px;
  
}
.portfolio-item-text .carts-title{
    margin-bottom: 4px;
 
}

.portfolio-item li:nth-child(3n+3){
    margin-right: 0;
}
.portfolio-item li:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.carts-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-text-color);
    
}

.carts-description{
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--adress-color);
    
}